<div class='grid-habilidad'>
  <div>{{habilidad.habilidad}}</div>
  <div>
    <input type="checkbox" 
      *ngFor='let item of controlesGrado5; let i = index'
      [checked]="item.activado"
      (change)="seleccionaGrado5(i)"/>
  </div>
  <div>
    <input type="checkbox"
      *ngFor='let item of controlesGrado2; let i = index'
      [checked]="item.activado"
      (change)="seleccionaGrado2(10 + i)"/>
  </div>
  <div>
    <input type="checkbox"
      *ngFor='let item of controlesGrado1; let i = index'
      [checked]="item.activado"
      (change)="seleccionaGrado1(20 + i)"/>
  </div>
  <div class='separador'><input type="text" value="{{bonus}}" readonly/></div>
  <div class='separador'>AGI<input type="text" value=" {{habilidad.caracteristica.total}}" readonly/></div>
  <div class='separador'><input type="text" value="{{habilidad.profesion}}" readonly/></div>
  <div class='separador'><input type="text" 
                            [(ngModel)]="habilidad.objeto"
                            pattern="\d*"
                            (change)="calculaBonusGradosHabilidad()"/></div>
  <div class='separador'><input type="text" [(ngModel)]="habilidad.especial1" pattern="\d*"/></div>
  <div class='separador'><input type="text" [(ngModel)]="habilidad.especial2" pattern="\d*"/></div>
  <div class='separador'><input type="text" value="{{habilidad.total}}" readonly/>MM</div>
</div>