.grid-habilidad {
    display: grid;
    height: 100%;
    grid-template-columns: 120px 150px 80px 20px 50px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: auto;
    grid-template-areas: ". . . . . . . . . .";
    font-size: 12px;
  }
  
.separador {
  border: 0px;
  border-left: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
    .grid-habilidad {
      display: -ms-grid;
      -ms-grid-columns: 120px 150px 80px 20px 50px 60px 60px 60px 60px 60px 60px;
      -ms-grid-rows: auto;
    }
  
  }

  input[type=checkbox] {
    width: 10px;
    height: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: solid 1px;
    padding: 0px;
    margin: 1px;
  }

  input[type=checkbox]:checked {
    width: 10px;
    height: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: solid 1px;
    padding: 1px;
    margin: 1px;
    background-color: black;
  }

  input[type=text] {
    border: 0px;
    border-bottom: solid 1px;
    width: 20px;
    text-align: right;
  }