<div>
  {{habilidades[0].objeto}} - {{habilidades[0].total}}
</div>
<div class="grid-habilidad">
  <div>HABILIDADES</div>
  <div>GRADOS 5%</div>
  <div>GRADOS 2%</div>
  <div></div>
  <div>Grado</div>
  <div>Carac.</div>
  <div>Profesión</div>
  <div>Objeto</div>
  <div>Especial</div>
  <div>Especial</div>
  <div>Total</div>
</div>
<app-habilidad 
  *ngFor='let habilidad of habilidades'
  [habilidad]='habilidad'
  [gradoMaximo]='habilidad.gradoMaximo'
  [puntosDisponibles]='1'
  [gradoSeleccionado]="habilidad.grado">
</app-habilidad>