<div class="general">
<div class="grid-habilidad">
  <div>HABILIDADES</div>
  <div>GRADOS 5%</div>
  <div>GRADOS 2%</div>
  <div class="tabla"></div>
  <div class="tabla">Grado</div>
  <div class="tabla">Carac.</div>
  <div class="tabla">Profesión</div>
  <div class="tabla">Objeto</div>
  <div class="tabla">Especial</div>
  <div class="tabla">Especial</div>
  <div class="tabla">Total</div>
</div>
<app-habilidad 
  *ngFor='let habilidad of habilidades'
  [habilidad]='habilidad'
  [gradoMaximo]='habilidad.gradoMaximo'
  [puntosDisponibles]='1'
  [gradoSeleccionado]="habilidad.grado">
</app-habilidad>
</div>